---
http_interactions:
- request:
    method: get
    uri: https://api.tomtom.com/search/2/nearbySearch/.json?categorySet=7397&key=X7j8ICdtbhCKPoA2kIPDM2urzrhBQJKP&language=en-US&lat=36.98844&lon=-121.97483
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Tracking-Id:
      - 33c43be2-b8b8-4cc0-9e3c-719a456af599
      X-Tomtom-Processed-By:
      - eastus
      X-Tomtom-Message-Id:
      - 10bf065b-ca4a-4938-989b-91111dd4b588
      X-Tomtom-Upstream-Service-Time:
      - '30'
      X-Tomtom-Attempt-Count:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"summary":{"queryType":"NEARBY","queryTime":11,"numResults":10,"offset":0,"totalResults":100,"fuzzyLevel":1,"geoBias":{"lat":36.98844,"lon":-121.97483}},"results":[{"type":"POI","id":"Ahr1KpCA4aHwm7pd14WaBQ","score":99.9650650024,"dist":34.93292,"info":"search:ta:840069009475383-US","poi":{"name":"ATM
        at Atm Concepts","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"2525","streetName":"Soquel Drive","municipality":"Santa
        Cruz","countrySecondarySubdivision":"Santa Cruz","countrySubdivision":"CA","countrySubdivisionName":"California","countrySubdivisionCode":"CA","postalCode":"95065","extendedPostalCode":"95065-1950","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"2525 Soquel Drive, Santa
        Cruz, CA 95065","localName":"Santa Cruz"},"position":{"lat":36.98853,"lon":-121.974453},"viewport":{"topLeftPoint":{"lat":36.98943,"lon":-121.97558},"btmRightPoint":{"lat":36.98763,"lon":-121.97333}},"entryPoints":[{"type":"main","position":{"lat":36.98813,"lon":-121.97452}}]},{"type":"POI","id":"G0pRdWfQUMmD25gTH4HlRQ","score":99.9454650879,"dist":54.536307,"info":"search:ta:840069019417142-US","poi":{"name":"Metabank","categorySet":[{"id":7397}],"categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"2425","streetName":"Soquel Drive","municipality":"Santa
        Cruz","countrySecondarySubdivision":"Santa Cruz","countrySubdivision":"CA","countrySubdivisionName":"California","countrySubdivisionCode":"CA","postalCode":"95065","extendedPostalCode":"95065-1935","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"2425 Soquel Drive, Santa
        Cruz, CA 95065","localName":"Santa Cruz"},"position":{"lat":36.988719,"lon":-121.975335},"viewport":{"topLeftPoint":{"lat":36.98962,"lon":-121.97646},"btmRightPoint":{"lat":36.98782,"lon":-121.97421}},"entryPoints":[{"type":"main","position":{"lat":36.98823,"lon":-121.97541}}]},{"type":"POI","id":"6S1zktHAlBOIpkfAgQeJ7Q","score":99.6635971069,"dist":336.401071,"info":"search:ta:840069002114248-US","poi":{"name":"ATM","phone":"+1
        831-426-3029","categorySet":[{"id":7397}],"categories":["cash dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"2230","streetName":"Sequoia Drive","municipality":"Santa
        Cruz","countrySecondarySubdivision":"Santa Cruz","countrySubdivision":"CA","countrySubdivisionName":"California","countrySubdivisionCode":"CA","postalCode":"95065","extendedPostalCode":"95065-1612","countryCode":"US","country":"United
        States","countryCodeISO3":"USA","freeformAddress":"2230 Sequoia Drive, Santa
        Cruz, CA 95065","localName":"Santa Cruz"},"position":{"lat":36.991283,"lon":-121.976126},"viewport":{"topLeftPoint":{"lat":36.99218,"lon":-121.97725},"btmRightPoint":{"lat":36.99038,"lon":-121.975}},"entryPoints":[{"type":"main","position":{"lat":36.99147,"lon":-121.97611}}]},{"type":"POI","id":"JnB914VA3Ik2vG7mz5b73w","score":99.5933380127,"dist":406.667849,"info":"search:ta:840067000451893-US","poi":{"name":"Wells
        Fargo Santa Cruz","phone":"+1 831-465-2480","brands":[{"name":"Wells Fargo"}],"categorySet":[{"id":7397}],"url":"www.wellsfargo.com","categories":["cash
        dispenser"],"classifications":[{"code":"CASH_DISPENSER","names":[{"nameLocale":"en-US","name":"cash
        dispenser"}]}]},"address":{"streetNumber":"1975","streetName":"Soquel Drive","municipality":"Santa
        Cruz","countrySecondarySubdivision":"Santa Cruz","countrySubdivision":"CA","countrySubdivisionName":"California","countrySubdivisionCode":"CA","postalCode":"95065","extendedPostalCode":"95065-1837","countryCode":"US","country":"United
 [...]
